@model OnlineCasino.Models.Bet

@{
    ViewData["Title"] = "Bet Details";
}

<h1>Bet Details</h1>
<hr />

<dl class="row">
    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Amount)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.Amount)</dd>

    <dt class="col-sm-2">Player ID</dt>
    <dd class="col-sm-10">@Model.Player?.Id ?? 0</dd>

    <dt class="col-sm-2">Game ID</dt>
    <dd class="col-sm-10">@Model.Game?.Id ?? 0</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
<a asp-action="Index" class="btn btn-secondary ms-2">Back to List</a>
